---

### Ejercicios para practicar con Pandas

In [0]:
#Pregunta 1

#Inspecting your data
#You can use the DataFrame methods .head() and .tail() to view the first few and last few rows of a DataFrame.
# In this exercise, we have imported pandas as pd and loaded population data from 1960 to 2014 as a DataFrame df. This dataset was obtained from the World Bank.

#Your job is to use df.head() and df.tail() to verify that the first and last rows match a file on disk. 
#In later exercises, you will see how to extract values from DataFrames with indexing, but for now, manually copy/paste or type values into assignment statements where needed. 
#Select the correct answer for the first and last values in the 'Year' and 'Total Population' columns.

#First: 1980, 26183676.0; Last: 2000, 35.
#First: 1960, 92495902.0; Last: 2014, 15245855.0.
#First: 40.472, 2001; Last: 44.5, 1880.
#First: CSS, 104170.0; Last: USA, 95.203.

#Respuesta:

In [0]:
#Pregunta 2
#DataFrame data types
Pandas is aware of the data types in the columns of your DataFrame.
# It is also aware of null and NaN ('Not-a-Number') types which often indicate missing data.
# In this exercise, we have imported pandas as pd and read the world population data into a DataFrame df which contains some NaN values 
#— a value often used as a place-holder for missing or otherwise invalid data entries.

#Your job is to use df.info() to determine information about the total count of non-null entries and infer the total count of null entries, which likely indicates missing data.

#Select the best description of this data set from the following:

#Possible Answers
#The data is all of type float64 and none of it is missing.
#The data is of mixed type, and 9914 of it is missing.
#The data is of mixed type, and 3460 float64s are missing.
#The data is all of type float64, and 3460 float64s are missing.

#Respuesta:

### **NumPy and pandas working together**
Pandas depends upon and interoperates with NumPy, the Python library for fast numeric array computations. For example, you can use the DataFrame attribute .values to represent a DataFrame df as a NumPy array. You can also pass pandas data structures to NumPy methods. In this exercise, we have imported pandas as pd and loaded world population data every 10 years since 1960 into the DataFrame df. This dataset was derived from the one used in the previous exercise.

Your job is to extract the values and store them in an array using the attribute .values. You'll then use those values as input into the NumPy np.log10() method to compute the base 10 logarithm of the population values. Finally, you will pass the entire pandas DataFrame into the same NumPy np.log10() method and compare the results.

In [0]:
#Ejercicio 1
#Import numpy using the standard alias np.
#Assign the numerical values in the DataFrame df to an array np_vals using the attribute values.#
#Pass np_vals into the NumPy method log10() and store the results in np_vals_log10.
#Pass the entire df DataFrame into the NumPy method log10() and store the results in df_log10.
#Inspect the output of the print() code to see the type() of the variables that you created.

# Import numpy


# Create array of DataFrame values: np_vals
np_vals = ____

# Create new array of base 10 logarithm values: np_vals_log10
np_vals_log10 = ____

# Create array of new DataFrame by passing df to np.log10(): df_log10
df_log10 = ____

# Print original and new data containers
[print(x, 'has type', type(eval(x))) for x in ['np_vals', 'np_vals_log10', 'df', 'df_log10']]

Ejercicio 2


Zip lists to build a DataFrame
In this exercise, you're going to make a pandas DataFrame of the top three countries to win gold medals since 1896 by first building a dictionary. list_keys contains the column names 'Country' and 'Total'. list_values contains the full names of each country and the number of gold medals awarded. The values have been taken from Wikipedia.

Your job is to use these lists to construct a list of tuples, use the list of tuples to construct a dictionary, and then use that dictionary to construct a DataFrame. In doing so, you'll make use of the list(), zip(), dict() and pd.DataFrame() functions. Pandas has already been imported as pd.

Note: The zip() function in Python 3 and above returns a special zip object, which is essentially a generator. To convert this zip object into a list, you'll need to use list(). You can learn more about the zip() function as well as generators in Python Data Science Toolbox (Part 2).

In [0]:
#Zip the 2 lists list_keys and list_values together into one list of (key, value) tuples. Be sure to convert the zip object into a list, and store the result in zipped.
#Inspect the contents of zipped using print(). This has been done for you.
#Construct a dictionary using zipped. Store the result as data.
#Construct a DataFrame using the dictionary. Store the result as df.

# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = ____

# Inspect the list using print()
print(zipped)

# Build a dictionary with the zipped list: data
data = ____

# Build and inspect a DataFrame from the dictionary: df
df = ____
print(df)

**Ejercicio 3**

Labeling your data
You can use the DataFrame attribute df.columns to view and assign new string labels to columns in a pandas DataFrame.

In this exercise, we have imported pandas as pd and defined a DataFrame df containing top Billboard hits from the 1980s (from Wikipedia). Each row has the year, artist, song name and the number of weeks at the top. However, this DataFrame has the column labels a, b, c, d. Your job is to use the df.columns attribute to re-assign descriptive column labels.

In [0]:
#Create a list of new column labels with 'year', 'artist', 'song', 'chart weeks', and assign it to list_labels.
#Assign your list of labels to df.columns.

# Build a list of labels: list_labels
list_labels = ____

# Assign the list of labels to the columns attribute: df.columns
____ = list_labels

Ejercicio 5

Building DataFrames with broadcasting
You can implicitly use 'broadcasting', a feature of NumPy, when creating pandas DataFrames. In this exercise, you're going to create a DataFrame of cities in Pennsylvania that contains the city name in one column and the state name in the second. We have imported the names of 15 cities as the list cities.

Your job is to construct a DataFrame from the list of cities and the string 'PA'.

In [0]:
#Make a string object with the value 'PA' and assign it to state.
#Construct a dictionary with 2 key:value pairs: 'state':state and 'city':cities.
#Construct a pandas DataFrame from the dictionary you created and assign it to df.

# Make a string with the value 'PA': state
state = ____

# Construct a dictionary: data
data = {'state':____, 'city':____}

# Construct a DataFrame from dictionary data: df
df = ____

# Print the DataFrame
print(df)

Ejerciico 6:

Exercise
Exercise
Reading a flat file
In previous exercises, we have preloaded the data for you using the pandas function read_csv(). Now, it's your turn! Your job is to read the World Bank population data you saw earlier into a DataFrame using read_csv(). The file is available in the variable data_file.

The next step is to reread the same file, but simultaneously rename the columns using the names keyword input parameter, set equal to a list of new column labels. You will also need to set header=0 to rename the column labels.

Finish up by inspecting the result with df.head() and df.info() in the IPython Shell (changing df to the name of your DataFrame variable).

pandas has already been imported and is available in the workspace as pd.

In [0]:
#Use pd.read_csv() with the string data_file to read the CSV file into a DataFrame and assign it to df1.
#Create a list of new column labels - 'year', 'population' - and assign it to the variable new_labels.
#Reread the same file, again using pd.read_csv(), but this time, add the keyword arguments header=0 and names=new_labels. Assign the resulting DataFrame to df2.
#Print both the df1 and df2 DataFrames to see the change in column names. This has already been done for you.


# Read in the file: df1
df1 = ____

# Create a list of the new column labels: new_labels
new_labels = ____

# Read in the file, specifying the header and names parameters: df2
df2 = ____(data_file, ____=0, ____=new_labels)

# Print both the DataFrames
print(df1)
print(df2)

Ejercicio 7

Delimiters, headers, and extensions
Not all data files are clean and tidy. Pandas provides methods for reading those not-so-perfect data files that you encounter far too often.

In this exercise, you have monthly stock data for four companies downloaded from Yahoo Finance. The data is stored as one row for each company and each column is the end-of-month closing price. The file name is given to you in the variable file_messy.

In addition, this file has three aspects that may cause trouble for lesser tools: multiple header lines, comment records (rows) interleaved throughout the data rows, and space delimiters instead of commas.

Your job is to use pandas to read the data from this problematic file_messy using non-default input options with read_csv() so as to tidy up the mess at read time. Then, write the cleaned up data to a CSV file with the variable file_clean that has been prepared for you, as you might do in a real data workflow.

You can learn about the option input parameters needed by using help() on the pandas function pd.read_csv().

In [0]:
#Use pd.read_csv() without using any keyword arguments to read file_messy into a pandas DataFrame df1.
#Use .head() to print the first 5 rows of df1 and see how messy it is. Do this in the IPython Shell first so you can see how modifying read_csv() can clean up this mess.
#Using the keyword arguments delimiter=' ', header=3 and comment='#', use pd.read_csv() again to read file_messy into a new DataFrame df2.
#Print the output of df2.head() to verify the file was read correctly.
#Use the DataFrame method .to_csv() to save the DataFrame df2 to the variable file_clean. Be sure to specify index=False.
#Use the DataFrame method .to_excel() to save the DataFrame df2 to the file 'file_clean.xlsx'. Again, remember to specify index=False.

# Read the raw file as-is: df1
df1 = pd.read_csv(____)

# Print the output of df1.head()
print(df1.head())

# Read in the file with the correct parameters: df2
df2 = pd.read_csv(____, delimiter=____, header=____, comment=____)

# Print the output of df2.head()
print(df2.head())

# Save the cleaned up DataFrame to a CSV file without the index
df2.____(file_clean, index=False)

# Save the cleaned up DataFrame to an excel file without the index
df2.____('file_clean.xlsx', index=False)

### Ejercicio 1

Cargad los datos del fichero _amazon.csv_, que podéis encontrar en la carpeta `data`, en un _dataframe_. Este conjunto de datos recoge información sobre el número de [incendios en bosques de Brasil](https://www.kaggle.com/gustavomodelli/forest-fires-in-brazil) entre el 1998 y el 2017.

Mostrad el número de filas del _dataframe_ y el nombre de las columnas.

In [181]:
# Respuesta
import pandas as pd
import io
from google.colab import files 
uploaded = files.upload()


datos = pd.read_csv(io.BytesIO(uploaded['amazon_v1.csv']))

Saving amazon_v1.csv to amazon_v1 (1).csv

In [82]:
filas = datos.shape[0]
print(filas) #Número de filas
print(datos.columns.values) #Nombre de las columnas

6454
['year' 'state' 'month' 'number' 'date']

### Ejercicio 8

Agrupad los datos cargados al ejercicio 1 por **año** y, para cada año, mostrad el número total de incendios que tuvierón lugar en todo el país.

**Nota:** Al Notebook de teoria hemos visto como calcular la media de una agrupación de datos. Para resolver este ejercicio tendréis que investigar como sumar todos los valores de una columna en una agrupación. Os puede ser de utilidad la función [aggregate](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.aggregate.html) de pandas, la cual nos permite aplicar diferentes funciones a una columna en un ```groupby```.

In [83]:
# Respuesta

#Aquí solo agrupamos por año
gruposPorAño = datos.groupby('year')

for name, group in gruposPorAño:
  print(name,group) #Por ejemplo: nombre sería el 2014, 2015, etc que se imprime y group todos los demás datos  

#Más abajo agrupamos por año y lo de para cada año

1998       year      state      month  number        date
0     1998       Acre    Janeiro   0.000  1998-01-01
20    1998       Acre  Fevereiro   0.000  1998-01-01
40    1998       Acre      Março   0.000  1998-01-01
60    1998       Acre      Abril   0.000  1998-01-01
80    1998       Acre       Maio   0.000  1998-01-01
...    ...        ...        ...     ...         ...
6355  1998  Tocantins     Agosto   3.747  1998-01-01
6375  1998  Tocantins   Setembro   5.149  1998-01-01
6395  1998  Tocantins    Outubro   1.738  1998-01-01
6415  1998  Tocantins   Novembro   1.000  1998-01-01
6435  1998  Tocantins   Dezembro   9.000  1998-01-01

[324 rows x 5 columns]
1999       year      state      month  number        date
1     1999       Acre    Janeiro   0.000  1999-01-01
21    1999       Acre  Fevereiro   0.000  1999-01-01
41    1999       Acre      Março   0.000  1999-01-01
61    1999       Acre      Abril   0.000  1999-01-01
81    1999       Acre       Maio   0.000  1999-01-01
...    ...        ...        ...     ...         ...
6356  1999  Tocantins     Agosto   1.284  1999-01-01
6376  1999  Tocantins   Setembro   3.415  1999-01-01
6396  1999  Tocantins    Outubro   1.378  1999-01-01
6416  1999  Tocantins   Novembro  29.000  1999-01-01
6436  1999  Tocantins   Dezembro  16.000  1999-01-01

[324 rows x 5 columns]
2000       year      state      month  number        date
2     2000       Acre    Janeiro   0.000  2000-01-01
22    2000       Acre  Fevereiro   0.000  2000-01-01
42    2000       Acre      Março  11.000  2000-01-01
62    2000       Acre      Abril   1.000  2000-01-01
82    2000       Acre       Maio   1.000  2000-01-01
...    ...        ...        ...     ...         ...
6357  2000  Tocantins     Agosto   1.949  2000-01-01
6377  2000  Tocantins   Setembro   2.552  2000-01-01
6397  2000  Tocantins    Outubro   1.053  2000-01-01
6417  2000  Tocantins   Novembro  96.000  2000-01-01
6437  2000  Tocantins   Dezembro  20.000  2000-01-01

[324 rows x 5 columns]
2001       year      state      month   number        date
3     2001       Acre    Janeiro    0.000  2001-01-01
23    2001       Acre  Fevereiro    0.000  2001-01-01
43    2001       Acre      Março    0.000  2001-01-01
63    2001       Acre      Abril    0.000  2001-01-01
83    2001       Acre       Maio    0.000  2001-01-01
...    ...        ...        ...      ...         ...
6358  2001  Tocantins     Agosto    2.242  2001-01-01
6378  2001  Tocantins   Setembro    4.839  2001-01-01
6398  2001  Tocantins    Outubro  684.000  2001-01-01
6418  2001  Tocantins   Novembro  100.000  2001-01-01
6438  2001  Tocantins   Dezembro   21.000  2001-01-01

[324 rows x 5 columns]
2002       year      state      month   number        date
4     2002       Acre    Janeiro    0.000  2002-01-01
24    2002       Acre  Fevereiro    1.000  2002-01-01
44    2002       Acre      Março    0.000  2002-01-01
64    2002       Acre      Abril    0.000  2002-01-01
84    2002       Acre       Maio    0.000  2002-01-01
...    ...        ...        ...      ...         ...
6359  2002  Tocantins     Agosto    3.027  2002-01-01
6379  2002  Tocantins   Setembro    5.314  2002-01-01
6399  2002  Tocantins    Outubro    1.537  2002-01-01
6419  2002  Tocantins   Novembro  207.000  2002-01-01
6439  2002  Tocantins   Dezembro   39.000  2002-01-01

[324 rows x 5 columns]
2003       year      state      month   number        date
5     2003       Acre    Janeiro   10.000  2003-01-01
25    2003       Acre  Fevereiro    0.000  2003-01-01
45    2003       Acre      Março    0.000  2003-01-01
65    2003       Acre      Abril    1.000  2003-01-01
85    2003       Acre       Maio    6.000  2003-01-01
...    ...        ...        ...      ...         ...
6360  2003  Tocantins     Agosto    1.339  2003-01-01
6380  2003  Tocantins   Setembro    4.637  2003-01-01
6400  2003  Tocantins    Outubro    1.339  2003-01-01
6420  2003  Tocantins   Novembro  146.000  2003-01-01
6440  2003  Tocantins   Dezembro  109.000  2003-01-01

[324 rows x 5 columns]
2004       year      state      month   number        date
6     2004       Acre    Janeiro    0.000  2004-01-01
26    2004       Acre  Fevereiro    3.000  2004-01-01
46    2004       Acre      Março    0.000  2004-01-01
66    2004       Acre      Abril    2.000  2004-01-01
86    2004       Acre       Maio    7.000  2004-01-01
...    ...        ...        ...      ...         ...
6361  2004  Tocantins     Agosto    1.776  2004-01-01
6381  2004  Tocantins   Setembro    5.308  2004-01-01
6401  2004  Tocantins    Outubro    1.658  2004-01-01
6421  2004  Tocantins   Novembro  424.000  2004-01-01
6441  2004  Tocantins   Dezembro   96.000  2004-01-01

[324 rows x 5 columns]
2005       year      state      month   number        date
7     2005       Acre    Janeiro   12.000  2005-01-01
27    2005       Acre  Fevereiro    0.000  2005-01-01
47    2005       Acre      Março    3.000  2005-01-01
67    2005       Acre      Abril    1.000  2005-01-01
87    2005       Acre       Maio    2.000  2005-01-01
...    ...        ...        ...      ...         ...
6362  2005  Tocantins     Agosto    1.840  2005-01-01
6382  2005  Tocantins   Setembro    5.319  2005-01-01
6402  2005  Tocantins    Outubro    2.913  2005-01-01
6422  2005  Tocantins   Novembro  271.000  2005-01-01
6442  2005  Tocantins   Dezembro   53.000  2005-01-01

[324 rows x 5 columns]
2006       year      state      month   number        date
8     2006       Acre    Janeiro    4.000  2006-01-01
28    2006       Acre  Fevereiro    0.000  2006-01-01
48    2006       Acre      Março    0.000  2006-01-01
68    2006       Acre      Abril    0.000  2006-01-01
88    2006       Acre       Maio    8.000  2006-01-01
...    ...        ...        ...      ...         ...
6363  2006  Tocantins     Agosto    1.277  2006-01-01
6383  2006  Tocantins   Setembro    2.979  2006-01-01
6403  2006  Tocantins    Outubro    1.176  2006-01-01
6423  2006  Tocantins   Novembro  108.000  2006-01-01
6443  2006  Tocantins   Dezembro   15.000  2006-01-01

[324 rows x 5 columns]
2007       year      state      month   number        date
9     2007       Acre    Janeiro    0.000  2007-01-01
29    2007       Acre  Fevereiro    5.000  2007-01-01
49    2007       Acre      Março    2.000  2007-01-01
69    2007       Acre      Abril    0.000  2007-01-01
89    2007       Acre       Maio    1.000  2007-01-01
...    ...        ...        ...      ...         ...
6364  2007  Tocantins     Agosto    4.747  2007-01-01
6384  2007  Tocantins   Setembro    6.829  2007-01-01
6404  2007  Tocantins    Outubro    2.252  2007-01-01
6424  2007  Tocantins   Novembro  147.000  2007-01-01
6444  2007  Tocantins   Dezembro   13.000  2007-01-01

[324 rows x 5 columns]
2008       year      state      month   number        date
10    2008       Acre    Janeiro    0.000  2008-01-01
30    2008       Acre  Fevereiro    0.000  2008-01-01
50    2008       Acre      Março    0.000  2008-01-01
70    2008       Acre      Abril    0.000  2008-01-01
90    2008       Acre       Maio    0.000  2008-01-01
...    ...        ...        ...      ...         ...
6365  2008  Tocantins     Agosto  845.000  2008-01-01
6385  2008  Tocantins   Setembro    2.390  2008-01-01
6405  2008  Tocantins    Outubro    2.832  2008-01-01
6425  2008  Tocantins   Novembro  104.000  2008-01-01
6445  2008  Tocantins   Dezembro    7.000  2008-01-01

[324 rows x 5 columns]
2009       year      state      month   number        date
11    2009       Acre    Janeiro    0.000  2009-01-01
31    2009       Acre  Fevereiro    2.000  2009-01-01
51    2009       Acre      Março    1.000  2009-01-01
71    2009       Acre      Abril    0.000  2009-01-01
91    2009       Acre       Maio    3.000  2009-01-01
...    ...        ...        ...      ...         ...
6366  2009  Tocantins     Agosto    1.124  2009-01-01
6386  2009  Tocantins   Setembro    2.017  2009-01-01
6406  2009  Tocantins    Outubro  718.000  2009-01-01
6426  2009  Tocantins   Novembro  251.000  2009-01-01
6446  2009  Tocantins   Dezembro   46.000  2009-01-01

[324 rows x 5 columns]
2010       year      state      month   number        date
12    2010       Acre    Janeiro    1.000  2010-01-01
32    2010       Acre  Fevereiro    0.000  2010-01-01
52    2010       Acre      Março    0.000  2010-01-01
72    2010       Acre      Abril    3.000  2010-01-01
92    2010       Acre       Maio    9.000  2010-01-01
...    ...        ...        ...      ...         ...
6367  2010  Tocantins     Agosto    7.865  2010-01-01
6387  2010  Tocantins   Setembro   10.172  2010-01-01
6407  2010  Tocantins    Outubro    2.272  2010-01-01
6427  2010  Tocantins   Novembro  283.000  2010-01-01
6447  2010  Tocantins   Dezembro   72.000  2010-01-01

[324 rows x 5 columns]
2011       year      state      month   number        date
13    2011       Acre    Janeiro    0.000  2011-01-01
33    2011       Acre  Fevereiro    0.000  2011-01-01
53    2011       Acre      Março    0.000  2011-01-01
73    2011       Acre      Abril    2.000  2011-01-01
93    2011       Acre       Maio    3.000  2011-01-01
...    ...        ...        ...      ...         ...
6368  2011  Tocantins     Agosto    1.668  2011-01-01
6388  2011  Tocantins   Setembro    4.658  2011-01-01
6408  2011  Tocantins    Outubro    1.591  2011-01-01
6428  2011  Tocantins   Novembro  144.000  2011-01-01
6448  2011  Tocantins   Dezembro  105.000  2011-01-01

[324 rows x 5 columns]
2012       year      state      month  number        date
14    2012       Acre    Janeiro    0.00  2012-01-01
34    2012       Acre  Fevereiro    0.00  2012-01-01
54    2012       Acre      Março    1.00  2012-01-01
74    2012       Acre      Abril    1.00  2012-01-01
94    2012       Acre       Maio    3.00  2012-01-01
...    ...        ...        ...     ...         ...
6369  2012  Tocantins     Agosto    4.28  2012-01-01
6389  2012  Tocantins   Setembro    7.46  2012-01-01
6409  2012  Tocantins    Outubro    3.68  2012-01-01
6429  2012  Tocantins   Novembro  179.00  2012-01-01
6449  2012  Tocantins   Dezembro  128.00  2012-01-01

[324 rows x 5 columns]
2013       year      state      month   number        date
15    2013       Acre    Janeiro    0.000  2013-01-01
35    2013       Acre  Fevereiro    0.000  2013-01-01
55    2013       Acre      Março    2.000  2013-01-01
75    2013       Acre      Abril   19.000  2013-01-01
95    2013       Acre       Maio    4.000  2013-01-01
...    ...        ...        ...      ...         ...
6370  2013  Tocantins     Agosto    1.810  2013-01-01
6390  2013  Tocantins   Setembro    2.445  2013-01-01
6410  2013  Tocantins    Outubro    2.155  2013-01-01
6430  2013  Tocantins   Novembro  345.000  2013-01-01
6450  2013  Tocantins   Dezembro   85.000  2013-01-01

[324 rows x 5 columns]
2014       year      state      month   number        date
16    2014       Acre    Janeiro    0.000  2014-01-01
36    2014       Acre  Fevereiro    0.000  2014-01-01
56    2014       Acre      Março    1.000  2014-01-01
76    2014       Acre      Abril    7.000  2014-01-01
96    2014       Acre       Maio    1.000  2014-01-01
...    ...        ...        ...      ...         ...
6371  2014  Tocantins     Agosto    2.917  2014-01-01
6391  2014  Tocantins   Setembro    3.520  2014-01-01
6411  2014  Tocantins    Outubro    4.000  2014-01-01
6431  2014  Tocantins   Novembro  451.000  2014-01-01
6451  2014  Tocantins   Dezembro  223.000  2014-01-01

[324 rows x 5 columns]
2015       year      state      month   number        date
17    2015       Acre    Janeiro    1.000  2015-01-01
37    2015       Acre  Fevereiro    2.000  2015-01-01
57    2015       Acre      Março    2.000  2015-01-01
77    2015       Acre      Abril    3.000  2015-01-01
97    2015       Acre       Maio    2.000  2015-01-01
...    ...        ...        ...      ...         ...
6372  2015  Tocantins     Agosto    2.540  2015-01-01
6392  2015  Tocantins   Setembro    5.510  2015-01-01
6412  2015  Tocantins    Outubro    4.844  2015-01-01
6432  2015  Tocantins   Novembro  833.000  2015-01-01
6452  2015  Tocantins   Dezembro  373.000  2015-01-01

[324 rows x 5 columns]
2016       year      state      month   number        date
18    2016       Acre    Janeiro   12.000  2016-01-01
38    2016       Acre  Fevereiro    5.000  2016-01-01
58    2016       Acre      Março    0.000  2016-01-01
78    2016       Acre      Abril    0.000  2016-01-01
98    2016       Acre       Maio   21.000  2016-01-01
...    ...        ...        ...      ...         ...
6373  2016  Tocantins     Agosto    3.213  2016-01-01
6393  2016  Tocantins   Setembro    3.245  2016-01-01
6413  2016  Tocantins    Outubro    2.032  2016-01-01
6433  2016  Tocantins   Novembro  623.000  2016-01-01
6453  2016  Tocantins   Dezembro  119.000  2016-01-01

[324 rows x 5 columns]
2017       year      state      month   number        date
19    2017       Acre    Janeiro    0.000  2017-01-01
39    2017       Acre  Fevereiro    1.000  2017-01-01
59    2017       Acre      Março    0.000  2017-01-01
79    2017       Acre      Abril    1.000  2017-01-01
99    2017       Acre       Maio   10.000  2017-01-01
...    ...        ...        ...      ...         ...
6354  2017  Tocantins      Julho    2.397  2017-01-01
6374  2017  Tocantins     Agosto    3.536  2017-01-01
6394  2017  Tocantins   Setembro   10.737  2017-01-01
6414  2017  Tocantins    Outubro    2.969  2017-01-01
6434  2017  Tocantins   Novembro  434.000  2017-01-01

[298 rows x 5 columns]

In [182]:
import math
# Haciendo el ejercicio 11, al coger datosCopia.iloc[1414] vimos que tomaba el riesgo como low cuando debería de ser high
# Ahí nos dimos cuenta de que 1.328 lo cogía como si fuera 1,328, es decir, un float. Por ello tenemos que tratar primero 
# los datos y convertir ese 1.328 en 1328, es decir, un int
# Primero Cambiamos el tipo de dato de number por un entero:
"""print(datos.iloc[1414])
print(datos['number'].dtype)
contador=0;
for i in datos['number']: 
  print(i)
  parte_entera, parte_decimal = int(i), abs(i)-abs(int(i))
  if(len(str(parte_decimal))==5):
    datos.loc[contador,'number'] = parte_entera*1000 + float(parte_decimal)*1000
    print("Que queda ", datos.loc[contador,'number'])
  contador+=1"""
print(datos.iloc[1414])
#NO LO HE CONSEGUIDO, PERO HABRÍA QUE HACERLO

year            2016
state          Ceara
month       Novembro
number         1.328
date      2016-01-01
Name: 1414, dtype: object

In [183]:
# Ahora ya podemos calcular la suma de los valores 'number' de cada grupo 
datos_suma = datos.groupby('year').agg({'number':sum})
print(datos_suma)

         number
year
1998  20013.971
1999  26882.821
2000  27351.251
2001  29071.612
2002  37390.600
2003  42760.674
2004  38453.163
2005  35004.965
2006  33832.161
2007  33037.413
2008  29378.964
2009  39117.178
2010  37037.449
2011  34633.545
2012  40084.860
2013  35146.118
2014  39621.183
2015  41208.292
2016  42212.229
2017  36685.624

### Ejercicio 9

Mostrad los estados de Brasil donde se registraron más de _800_ incendios al mes, contando los meses de _junio_, _julio_ y _agosto_. Debéis mostrar como resultado una lista de los estados **sin repetir**.

**Nota:** Al Notebook de teoria hemos visto operaciones básicas de filtrado. Para resolver este ejercicio deberéis investigar como aplicar condiciones más complejas. Para extraer una lista de valores _únicos_ de una columna de un dataframe os puede ser útil la función [unique](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html) de pandas.

In [1]:
# Respuesta
estados = datos[(datos.number > 800)].isin(['Junho','Julho','Agosto']) # Estados con más de 800 incendios al mes
print(estados.state.unique()) # Solo muestra los estados SIN REPETIR

NameError: ignored

### Ejercicio 10

Queremos buscar aquellos estados donde, durante el año _2017_, tuvierón lugar _más de 800_ incendios al mes, a lo largo de cualquier mes del año. Debéis mostrar por pantalla el **estado**, el **mes** (o los meses si la condición se cumple en varios meses) y el **nombre total de incendios** registrados en el mes correspondiente.

**Nota**: Además del contenido de los Notebook de teoria, podéis utilizar lo que habéis aprendido haciendo el ejercicio 8.

In [47]:
# Respuesta
estadosEnDosMilDiecisiete = datos[(datos.year == 2017)&(datos.number>800)]
print(estadosEnDosMilDiecisiete.loc[:,('state','month','number')])

            state     month  number
698         Amapa  Novembro   858.0
1395        Ceara   Outubro   949.0
1415        Ceara  Novembro   812.0
2271     Maranhao     Junho   885.0
2490  Mato Grosso      Maio   845.0
2610  Mato Grosso  Novembro   813.0
3725      Paraiba     Julho   891.0
3745      Paraiba    Agosto   987.0
4920          Rio     Julho   885.0
4940          Rio    Agosto   819.0
5876    Sao Paulo     Julho   802.0
5896    Sao Paulo    Agosto   981.0

### Ejercicio 11

Cread una copia del dataframe original añadiendo una nueva columna que nos indicará para cada fila el nivel de riesgo de dicha fila. Definimos tres niveles de riesgo:

- **high** : si se ha registrado una fila con más de 800 incendios 
- **medium** : si se ha registrado una fila con un nombre de incendios entre 400 y 800
- **low** : si se ha registrado una fila con menos de 400 incendios

Mostrad por pantalla aquellas filas que correspondan a un nivel de riesgo alto ( _high_ ).

**Nota:** pandas nos ofrece principalmente tres maneras de añadir nuevas columnas a un dataframe existente. Cualquiera de las tres formas son válidas para resolver este ejercicio. Podéis buscar en Internet como añadir columnas a un dataframe de pandas, ya que la documentación presenta los tres métodos de forma separada.

In [184]:
# Respuesta
import numpy as np

datosCopia = datos[:]
condiciones = [(datosCopia['number']>800), 
               (datosCopia['number']>=400) & (datosCopia['number']<=800), 
               (datosCopia['number']<400)]
elecciones = np.array(['high', 'medium', 'low'])
datosCopia['risk'] = np.select(condiciones, elecciones, default='QUE') # Si ninguna se cumple retorna -1
print(datosCopia)

print(datosCopia.iloc[1414])

      year      state     month  number        date risk
0     1998       Acre   Janeiro     0.0  1998-01-01  low
1     1999       Acre   Janeiro     0.0  1999-01-01  low
2     2000       Acre   Janeiro     0.0  2000-01-01  low
3     2001       Acre   Janeiro     0.0  2001-01-01  low
4     2002       Acre   Janeiro     0.0  2002-01-01  low
...    ...        ...       ...     ...         ...  ...
6449  2012  Tocantins  Dezembro   128.0  2012-01-01  low
6450  2013  Tocantins  Dezembro    85.0  2013-01-01  low
6451  2014  Tocantins  Dezembro   223.0  2014-01-01  low
6452  2015  Tocantins  Dezembro   373.0  2015-01-01  low
6453  2016  Tocantins  Dezembro   119.0  2016-01-01  low

[6454 rows x 6 columns]
year            2016
state          Ceara
month       Novembro
number         1.328
date      2016-01-01
risk             low
Name: 1414, dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

---